In [1]:
import pandas as pd

In [3]:
sales = [('account', ['Jones LLc', 'Alpha Co', 'Blue Inc', 'Mega Corp']),
         ('Total Sales', [150, 200, 75, 300]),
         ('Country', ['US', 'UK', 'US', 'US'])]

In [4]:
df = pd.DataFrame.from_items(sales)

In [5]:
df

     account  Total Sales Country
0  Jones LLc          150      US
1   Alpha Co          200      UK
2   Blue Inc           75      US
3  Mega Corp          300      US

In [6]:
indicates = [True, False, True, True]

In [7]:
df[indicates]

     account  Total Sales Country
0  Jones LLc          150      US
2   Blue Inc           75      US
3  Mega Corp          300      US

In [8]:
df.Country == 'US'

0     True
1    False
2     True
3     True
Name: Country, dtype: bool

In [18]:
df.loc[df["Total Sales"]>200, ["account", "Total Sales"]]

     account  Total Sales
3  Mega Corp          300

In [19]:
df["rate"] = 0.02

In [20]:
df

     account  Total Sales Country  rate
0  Jones LLc          150      US  0.02
1   Alpha Co          200      UK  0.02
2   Blue Inc           75      US  0.02
3  Mega Corp          300      US  0.02

In [21]:
df.loc[df['Total Sales']>100, ['rate']] = 0.05

In [22]:
df

     account  Total Sales Country  rate
0  Jones LLc          150      US  0.05
1   Alpha Co          200      UK  0.05
2   Blue Inc           75      US  0.02
3  Mega Corp          300      US  0.05

In [23]:
df = pd.read_excel('https://github.com/chris1610/pbpython/blob/master/data/sample-sales-reps.xlsx?raw=true')

In [25]:
df['commmision'] =0.02

In [36]:
df.loc[df['category']=='Shirt',['commmision']]=0.25

In [42]:
df.loc[(df['category']=='Belt')&(df['quantity']>10), ['commmision']]=0.4

In [43]:
df

,account number,customer name,sales rep,sku,category,quantity,unit price,ext price,date,commmision
0,680916,Mueller and Sons,Loring Predovic,GP-14407,Belt,19,88.49,1681.31,2015-11-17 05:58:34,0.40
1,680916,Mueller and Sons,Loring Predovic,FI-01804,Shirt,3,78.07,234.21,2016-02-13 04:04:11,0.25
2,530925,Purdy and Sons,Teagan O'Keefe,EO-54210,Shirt,19,30.21,573.99,2015-08-11 12:44:38,0.25
3,14406,"Harber, Lubowitz and Fahey",Esequiel Schinner,NZ-99565,Shirt,12,90.29,1083.48,2016-01-23 02:15:50,0.25
4,398620,Brekke Ltd,Esequiel Schinner,NZ-99565,Shirt,5,72.64,363.20,2015-08-10 07:16:03,0.25
5,282122,"Connelly, Abshire and Von",Beth Skiles,GJ-90272,Shoes,20,96.62,1932.40,2016-03-17 10:19:05,0.02
6,398620,Brekke Ltd,Esequiel Schinner,DU-87462,Shirt,10,67.64,676.40,2015-11-25 22:05:36,0.25
7,218667,Jaskolski-O'Hara,Trish Deckow,DU-87462,Shirt,11,91.86,1010.46,2016-04-24 15:05:58,0.25
8,398620,Brekke Ltd,Esequiel Schinner,NZ-99565,Shirt,18,98.67,1776.06,2015-08-06 08:09:56,0.25
9,14406,"Harber, Lubowitz and Fahey",Esequiel Schinner,GP-14407,Belt,12,64.48,773.76,2016-01-08 09:52:04,0.40
10,887145,Gislason LLC,Loring Predovic,NZ-99565,Shirt,20,92.87,1857.40,2016-05-22 06:09:58,0.25
11,93583,Hegmann-Howell,Esequiel Schinner,HZ-54995,Belt,17,40.56,689.52,2015-07-05 01:05:52,0.40
12,280749,Douglas PLC,Teagan O'Keefe,TK-29646,Shoes,17,42.61,724.37,2016-05-16 19:11:55,0.02
13,453258,Runolfsson-Bayer,Shannen Hudson,FI-01804,Shirt,20,12.31,246.20,2015-08-24 21:32:26,0.25
14,453258,Runolfsson-Bayer,Shannen Hudson,EO-54210,Shirt,20,67.95,1359.00,2015-11-24 15:04:30,0.25
15,280749,Douglas PLC,Teagan O'Keefe,GJ-90272,Shoes,17,23.20,394.40,2015-09-12 13:16:56,0.02
16,453258,Runolfsson-Bayer,Shannen Hudson,NZ-99565,Shirt,2,30.23,60.46,2016-03-21 11:31:24,0.25
17,280749,Douglas PLC,Teagan O'Keefe,GP-14407,Belt,3,22.64,67.92,2015-12-02 01:55:28,0.02
18,398620,Brekke Ltd,Esequiel Schinner,HZ-54995,Belt,1,36.20,36.20,2015-12-07 18:45:54,0.02
19,251881,Zulauf-Grady,Teagan O'Keefe,DU-87462,Shirt,9,82.06,738.54,2016-02-23 17:41:41,0.25
20,575704,"Lindgren, Thompson and Kirlin",Teagan O'Keefe,DU-87462,Shirt,5,28.51,142.55,2016-03-01 19:34:33,0.25
21,887145,Gislason LLC,Loring Predovic,ZY-38455,Shirt,15,95.60,1434.00,2015-10-08 03:01:22,0.25
22,575704,"Lindgren, Thompson and Kirlin",Teagan O'Keefe,TK-29646,Shoes,11,30.80,338.80,2015-11-25 06:07:47,0.02
23,282122,"Connelly, Abshire and Von",Beth Skiles,HZ-54995,Belt,6,64.98,389.88,2016-01-15 21:07:30,0.02
24,758030,Kilback-Abernathy,Trish Deckow,TK-29646,Shoes,19,26.90,511.10,2015-09-28 14:33:34,0.02
25,280749,Douglas PLC,Teagan O'Keefe,NZ-99565,Shirt,15,30.34,455.10,2016-03-29 21:19:08,0.25
26,680916,Mueller and Sons,Loring Predovic,DU-87462,Shirt,2,61.01,122.02,2016-05-19 00:05:12,0.25
27,898496,"Weissnat, Veum and Barton",Ansley Cummings,TL-23025,Shoes,8,18.34,146.72,2015-07-24 17:48:46,0.02
28,530925,Purdy and Sons,Teagan O'Keefe,DU-87462,Shirt,10,18.40,184.00,2016-03-05 23:45:57,0.25
29,752312,Watsica-Pfannerstill,Loring Predovic,GP-14407,Belt,15,17.93,268.95,2016-03-18 07:17:35,0.40
...,...,...,...,...,...,...,...,...,...,...
1470,680916,Mueller and Sons,Loring Predovic,HZ-54995,Belt,18,17.93,322.74,2016-04-28 01:57:00,0.40
1471,218667,Jaskolski-O'Hara,Trish Deckow,TK-29646,Shoes,13,57.80,751.40,2015-11-09 12:17:52,0.02
1472,887145,Gislason LLC,Loring Predovic,GP-14407,Belt,5,51.82,259.10,2016-06-08 11:25:05,0.02
1473,93583,Hegmann-Howell,Esequiel Schinner,ZY-38455,Shirt,10,86.25,862.50,2016-05-10 23:48:57,0.25
1474,530925,Purdy and Sons,Teagan O'Keefe,FI-01804,Shirt,13,10.13,131.69,2016-04-01 20:39:41,0.25
1475,752312,Watsica-Pfannerstill,Loring Predovic,HZ-54995,Belt,18,23.48,422.64,2015-07-25 05:51:10,0.40
1476,758030,Kilback-Abernathy,Trish Deckow,TK-29646,Shoes,7,86.67,606.69,2015-08-19 15:35:31,0.02
1477,398620,Brekke Ltd,Esequiel Schinner,GP-14407,Belt,7,16.52,115.64,2016-04-07 10:25:42,0.02
1478,218667,Jaskolski-O'Hara,Trish Deckow,GJ-90272,Shoes,6,36.44,218.64,2015-11-02 20:55:11,0.02
1479,14406,"Harber, Lubowitz and Fahey",Esequiel Schinner,HZ-54995,Belt,5,48.52,242.60,2016-05-22 12:34:35,0.02
1480,218667,Jaskolski-O'Hara,Trish Deckow,TL-23025,Shoes,14,88.33,1236.62,2015-07-12 15:59:56,0.02
1481,530925,Purdy and Sons,Teagan O'Keefe,HZ-54995,Belt,9,62.85,565.65,2015-08-12 17:07:20,0.02
1482,575704,"Lindgren, Thompson and Kirlin",Teagan O'Keefe,GP-14407,Belt,9,55.57,500.13,2016-02-27 03:20:13,0.02
1483,758030,Kilback-Abernathy,Trish Deckow,GJ-90272,Shoes,8,98.87,790.96,2016-02-10 16:51:59,0.02
1484,136521,Labadie and Sons,Esequiel Schinner,FI-01804,Shirt,15,99.43,1491.45,2015-12-17 21:58:31,0.25
1485,898496,"Weissnat, Veum and Barton",Ansley Cummings,GJ-90272,Shoes,18,11.05,198.90,2016-04-01 10:19:26,0.02
1486,136521,Labadie and Sons,Esequiel Schinner,HZ-54995,Belt,20,54.67,1093.40,2016-02-20 10:43:41,0.40
1487,218667,Jaskolski-O'Hara,Trish Deckow,TL-23025,Shoes,19,45.97,873.43,2015-08-12 22:53:38,0.02
1488,575704,"Lindgren, Thompson and Kirlin",Teagan O'Keefe,TL-23025,Shoes,1,55.81,55.81,2016-02-01 17:50:13,0.02
1489,887145,Gislason LLC,Loring Predovic,ZY-38455,Shirt,10,16.37,163.70,2015-10-11 22:11:45,0.25
1490,898496,"Weissnat, Veum and Barton",Ansley Cummings,GP-14407,Belt,8,83.37,666.96,2016-01-27 03:26:53,0.02
1491,62592,O'Keefe-Koch,Shannen Hudson,TK-29646,Shoes,18,24.92,448.56,2016-02-11 17:13:23,0.02
1492,530925,Purdy and Sons,Teagan O'Keefe,HZ-54995,Belt,3,90.33,270.99,2015-09-23 07:36:34,0.02
1493,93583,Hegmann-Howell,Esequiel Schinner,GP-14407,Belt,5,45.93,229.65,2016-04-13 22:34:56,0.02
1494,14406,"Harber, Lubowitz and Fahey",Esequiel Schinner,ZY-38455,Shirt,16,21.60,345.60,2015-11-18 06:28:56,0.25
1495,136521,Labadie and Sons,Esequiel Schinner,GP-14407,Belt,4,98.57,394.28,2016-06-01 17:28:44,0.02
1496,575704,"Lindgren, Thompson and Kirlin",Teagan O'Keefe,TK-29646,Shoes,3,65.16,195.48,2016-04-02 16:38:31,0.02
1497,898496,"Weissnat, Veum and Barton",Ansley Cummings,EO-54210,Shirt,17,28.10,477.70,2015-07-20 19:30:10,0.25
1498,62592,O'Keefe-Koch,Shannen Hudson,FI-01804,Shirt,19,94.96,1804.24,2015-10-05 15:55:01,0.25
1499,530925,Purdy and Sons,Teagan O'Keefe,DU-87462,Shirt,3,22.86,68.58,2015-10-07 19:49:38,0.25

In [44]:
df['bonus'] = 0

In [51]:
df.loc[(df['category']=='Shoes') & (df['ext price']>=1000), ['bonus', 'commmision']] = 250, 0.045

In [53]:
df.ix[3:7]

,account number,customer name,sales rep,sku,category,quantity,unit price,ext price,date,commmision,bonus
3,14406,"Harber, Lubowitz and Fahey",Esequiel Schinner,NZ-99565,Shirt,12,90.29,1083.48,2016-01-23 02:15:50,0.250,0
4,398620,Brekke Ltd,Esequiel Schinner,NZ-99565,Shirt,5,72.64,363.20,2015-08-10 07:16:03,0.250,0
5,282122,"Connelly, Abshire and Von",Beth Skiles,GJ-90272,Shoes,20,96.62,1932.40,2016-03-17 10:19:05,0.045,250
6,398620,Brekke Ltd,Esequiel Schinner,DU-87462,Shirt,10,67.64,676.40,2015-11-25 22:05:36,0.250,0
7,218667,Jaskolski-O'Hara,Trish Deckow,DU-87462,Shirt,11,91.86,1010.46,2016-04-24 15:05:58,0.250,0

In [56]:
df['comp'] = df['commmision'] * df['ext price'] + df['bonus']

In [61]:
df.groupby(['sales rep'])['comp'].sum()

sales rep
Ansley Cummings       9006.11070
Beth Skiles           8421.72815
Esequiel Schinner    37817.60455
Loring Predovic      42603.82200
Shannen Hudson       21041.04650
Teagan O'Keefe       40658.46705
Trish Deckow         25275.26040
Name: comp, dtype: float64